<h1><a href="#">RailsFS Browser</a></h1>
<h2>A Rails Filesystem Example by Saverio</h2>

<div id="notice"></div>
<div id="app"></div>

<script type="text/javascript">
    $(function() {
        App.init();
    });
</script>


